  
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>AMT - Contact Page</title> 
{% endblock %}

{% block content %}
<div class="col-12 mb-3">
  {% if user.is_authenticated %}
    <!-- <h4 class="d-inline-block">{{ user.get_username }} Contact <i class="ri-contacts-line"></i></h4> -->
    <h4 class="d-inline-block">Contact <i class="ri-contacts-line"></i></h4>
  {% endif %}
    
</div>

<section class="section contact">

  <div class="row gy-4">

    <div class="col-xl-6">

      <div class="row">
        <div class="col-lg-6">
          <div class="info-box card">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <p>AMT Media Tech<br>
              India<br>
              Capital Towers, 8th Flr,<br>
              No.180, Kodambakkam High Rd,<br>
              Nungambakkam, Chennai-600034<br>
              Email: <a href="mailto:info@ajaxmediatech.com">info@ajaxmediatech.com</a><br>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box card">
            <i class="bi bi-telephone"></i>
            <h3>Call Us</h3>
            <p>99 9999 9999<br>88 8888 8888</p>
            <br>
            <br>
            <br><br>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box card">
            <i class="bi bi-envelope"></i>
            <h3>Email Us</h3>
            <p><a href="mailto:info@ajaxmediatech.com">info@ajaxmediatech.com</a></p>
            <br>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box card">
            <i class="bi bi-clock"></i>
            <h3>Open Hours</h3>
            <p>Monday - Friday<br>9:30AM - 06:00PM</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-6">
      <div class="card p-4">
        <form method="post">
          {% csrf_token %}
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="from_email" id = "from_email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>

          </div>
        </form>
      </div>

    </div>

  </div>

</section>
{% endblock %}